In [1]:
import pandas as pd
import numpy as np
from scipy import stats

In [3]:
df = pd.read_csv("marketing_AB.csv")  # use your exact file name
df.head()

,Unnamed: 0,user id,test group,converted,total ads,most ads day,most ads hour
0,0,1069124,ad,False,130,Monday,20
1,1,1119715,ad,False,93,Tuesday,22
2,2,1144181,ad,False,21,Tuesday,18
3,3,1435133,ad,False,355,Tuesday,10
4,4,1015700,ad,False,276,Friday,14

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 588101 entries, 0 to 588100
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Unnamed: 0     588101 non-null  int64
 1   user id        588101 non-null  int64
 2   test group     588101 non-null  object
 3   converted      588101 non-null  bool
 4   total ads      588101 non-null  int64
 5   most ads day   588101 non-null  object
 6   most ads hour  588101 non-null  int64
dtypes: bool(1), int64(4), object(2)
memory usage: 27.5+ MB

In [7]:
df.columns

Index(['Unnamed: 0', 'user id', 'test group', 'converted', 'total ads',
       'most ads day', 'most ads hour'],
      dtype='object')

In [8]:
df['test group'].value_counts()

test group
ad     564577
psa     23524
Name: count, dtype: int64

In [9]:
df['converted'] = df['converted'].astype(int)

In [10]:
control = df[df['test group'] == 'control']['converted']
test = df[df['test group'] == 'test']['converted']

In [11]:
control = df[df['test group'] == 'psa']['converted']
test = df[df['test group'] == 'ad']['converted']

In [12]:
# H0: Conversion rate of control and test groups are equal
# H1: Conversion rate of control and test groups are different
# Alpha = 0.05

In [13]:
from scipy import stats

t_stat, p_value = stats.ttest_ind(control, test)
p_value

np.float64(1.7033052627831264e-13)

In [14]:
if p_value < 0.05:
    print("Statistically significant difference between groups")
else:
    print("No statistically significant difference between groups")

Statistically significant difference between groups

In [15]:
summary = pd.DataFrame({
    'Group': ['Control', 'Test'],
    'Users Count': [len(control), len(test)],
    'Conversion Rate': [control.mean(), test.mean()]
})

summary

     Group  Users Count  Conversion Rate
0  Control        23524         0.017854
1     Test       564577         0.025547

In [16]:
summary.to_csv("ab_test_summary.csv", index=False)

In [17]:
with open("final_recommendation.txt", "w") as f:
    f.write(
        "The A/B test was conducted at 95% confidence level. "
        "Based on the p-value, the difference between control and test "
        "groups was evaluated and a data-driven decision can be made."
    )